%p#notice= notice

%h1
  %b Blog title:
  = @blog.title.capitalize

-if @posts
  %h3 Posts
  -@posts.each do |post|
    %p=link_to post.title.capitalize, post_path(post)
%p
  %b Author:
  = @blog.user.login

= link_to 'Edit', edit_blog_path(@blog)
\|
= link_to 'Back', blogs_path
