%h1 Listing users

%table
  %thead
    %tr
      %th Full name
      %th Login
      %th Email
      %th Password
      %th Date of birth
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.full_name
        %td= user.login
        %td= user.email
        %td= user.password
        %td= user.date_of_birth
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path


%p=link_to "Homepage",root_path