%p#notice= notice

%p
  %b Full name:
  = @user.full_name
%p
  %b Login:
  = @user.login
%p
  %b Email:
  = @user.email
%p
  %b Password:
  = @user.password
%p
  %b Date of birth:
  = @user.date_of_birth

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
